@import "../../styles/mixins.scss";

.bg {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
}

.fc {
    margin: 0 15px 0 15px;
    position: relative;
    padding: 0 128px 0 70px;
    border-radius: 30px;
    max-width: 670px;
    background-image: url("../../assets/image/bg-form-color.svg");

    @include tablet {
        padding: 0 60px 0 30px;
    }

    @include tablet-min {
        padding: 0 40px 0 20px;
    }

    @include phone {
        max-width: 320px;
        top: 0;
        left: 0;
    }

    &__decorBg {
        max-width: 424px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 30px 30px 30px;

        @include tablet-min {
            max-width: 300px;
        }
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 40px;
        color: white;
        width: 45px;
        z-index: 12;

        @include tablet {
            top: 10px;
            width: 40px;
            right: 30px;
        }

        @include tablet-min {
            top: 10px;
            width: 30px;
            right: 20px;
        }

        @include phone {
            top: 16px;
            width: 34px;
            right: 16px;
        }
    }
}

.fc__content {
    max-width: 455px;

    .content__title {
        padding-top: 56px;
        color: #FFF;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 105%;
        letter-spacing: -1.35px;
        padding-bottom: 25px;

        @include tablet {
            font-size: 40px;
            padding-top: 48px;
        }


        @include tablet-min {
            font-size: 28px;
            padding-top: 40px;
            padding-bottom: 18px;
        }

        @include phone {
            font-size: 23px;
            padding-top: 45px;
            padding-bottom: 15px;
        }
    }

    .content__text {
        padding-bottom: 35px;
        color: #FFF;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        @include tablet {
            font-size: 20px;
            padding-bottom: 25px;
        }

        @include tablet-min {
            font-size: 16px;
            padding-bottom: 16px;
        }

        @include phone {
            font-size: 18px;
            padding-bottom: 25px;
        }
    }
}

.content__form {
    width: 100%;
    display: flex;
    flex-direction: column;

    .form__input {
        width: 100%;
        border-radius: 10px;
        background: #FFF;
        padding: 15px 20px;
        margin-bottom: 18px;

        @include tablet-min {
            padding: 9px 15px;
            margin-bottom: 10px;
        }

        @include phone {
            padding: 15px 15px;
            margin-bottom: 17px;
        }
    }

    .form__submit {
        width: 100%;
        color: #242424;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 80px;
        padding: 15px 0;
        border-radius: 10px;
        background: var(--gr, linear-gradient(141deg, #1DD844 0%, #CBF62E 100%));
        transition: 0.3s ease;
        box-shadow: 0px 0px 10px 5px rgba(98, 195, 74, 0.667);

        &:hover {
            box-shadow: 0px 0px 11px 9px rgba(98, 195, 74, 0.667);
        }

        &:active {
            box-shadow: inset 0px 4px rgba(91, 91, 91, 0.25);
        }

        &:disabled {
            box-shadow: none;
            color: rgba(36, 36, 36, 0.50);
        }

        @include tablet {
            margin-bottom: 50px;
        }

        @include tablet-min {
            padding: 10px 0;
        }

        @include tablet-min {
            padding: 15px 0;
            margin-bottom: 41px;
        }

    }
}