@import "../../styles/base.scss";


.bg {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
}

.menu {
    padding: 20px 16px 0 20px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #293344;
    width: 304px;
    z-index: 10;
    border-radius: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__header {
    padding-bottom: 50px;
    width: 268px;
    display: flex;
    justify-content: space-between;

    .menu__logo {
        max-width: 89px;
    }

    .menu__close {
        width: 40px;
        color: white;
    }
}

.menu__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 90px;

    a {
        color: $text-lightgray;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

    }
}

.menu__button {
    max-width: 175px;
    margin-bottom: 60px;
    border-radius: 15px;
    border: 1px solid #FFF;
    padding: 16px 22px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.3s ease;

    &:hover {
        color: #C3F33B;
        border: 1px solid #C3F33B;
    }

    &:active {
        color: #C3F33B;
        border: 1px solid #C3F33B;
        background: rgba(224, 255, 172, 0.05);
        backdrop-filter: blur(7.5px);
    }

    &:disabled {}

}