@import "../../styles/mixins.scss";

.aboutCard {
    max-width: 300px;
    max-height: 300px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    @include phone {
        max-width: 260px;
        max-height: 273px;

    }


    &__detailBottom {
        width: 260px;
        border-radius: 20px;
        background: rgba(51, 92, 163, 0.6);
        backdrop-filter: blur(27.5px);
    }
}

.aboutCard__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(51, 62, 81, 0.70);
    max-width: 300px;
    height: 310px;
    border-radius: 20px;

    .container__img {
        max-width: 117px;
        max-height: 117px;
        width: 100%;
        margin: 45px 0 23px 0;

        @include phone {
            max-width: 83px;
            max-height: 83px;
            margin: 45px 0 20px 0;
        }
    }

    .container__text {
        padding-bottom: 50px;
        color: #FFF;
        text-align: center;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.7px;

        @include phone {
            max-width: 204px;
            font-size: 16px;
            padding-bottom: 26px;
        }
    }
}