@import "../styles/mixins.scss";

.about {
    padding: 190px 316px;
    display: flex;
    justify-content: center;
    overflow: hidden;

    @media (max-width: 1900px) {
        padding: 190px 50px;
    }

    @include desktop {
        padding: 100px 0;
    }

    @include tablet {
        padding: 100px 0 50px 0;
    }

    @include phone {
        padding: 70px 0 0 0;
    }
}